#!/usr/bin/env zsh

# Plugins hash: {{ include "dot_zsh_plugins" | sha256sum }}

source "$(brew --prefix)/opt/antidote/share/antidote/antidote.zsh"
antidote bundle < .zsh_plugins > ~/.zsh_plugins.sh

